.NavBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  color: #000;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
}

.NavBtn:hover {
  transform: scale(0.98);
  transition: all 0.2s ease;
}
